
<!--Create House Form-->

<form #createHouseForm = "ngForm"  (ngSubmit)="createHouse()">
  <input type="number" name="price" ngModel
  #priceInput="ngModel" [(ngModel)]="house.price"
  [ngStyle]="{backgroundColor: priceInput.invalid && priceInput.dirty ? 'red' : 'green'}"
  required>

  <input type="text" name="street" ngModel
  #streetInput="ngModel" [(ngModel)]="house.street"
  [ngStyle]="{backgroundColor: streetInput.invalid && streetInput.dirty ? 'red' : 'green'}"
  required>

  <button>Create</button>
</form>
