<!-- Registration form-->
<form #registrationForm = "ngForm"  (ngSubmit)="registrationUser()">
  <input type="text" name="name" placeholder="Введіть ім’я"
         #nameInput="ngModel" [(ngModel)]="newUsers.name"
         [ngStyle]="{backgroundColor: nameInput.invalid && nameInput.dirty ? 'red' : 'green'}"
         required>

  <input type="email" name="email" placeholder="Введіть email"
         #emailInput="ngModel"  [(ngModel)]="newUsers.email"
         [ngStyle]="{backgroundColor: emailInput.invalid && emailInput.dirty ? 'red' : 'green'}"
         required>

  <input type="password" name="password" placeholder="Введіть пароль"
         #passwordInput ="ngModel" [(ngModel)]="newUsers.password"
         [ngStyle]="{backgroundColor: passwordInput.invalid && passwordInput.dirty ? 'red' : 'green'}"
         required>
  <button>REGISTER</button>
</form>
