<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<app-show-all>[ShowAll]="SnowAll"</app-show-all>

<app-register>[register]="register"</app-register>

<app-create-house>[createHouses]="createHouses"</app-create-house>

<app-login>[login]="login"</app-login>

<app-search>[search]="search"</app-search>

</body>
</html>
